.content {
	padding: 20px;
}

.content li {
	list-style-type: none;
}

.content button {
	border-radius: 0;
	border: 2px solid green;
	padding: 5px;
	margin: 5px;
	width: 80px;
}

.content p {
	padding: 5px;
	margin: 5px;
}